<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <main>
        <div class="jumbotron" style="width: 35%; display: block; margin: auto; text-align: center">
            <h3>Smart Shopping Application</h3>
            <p id="register-title" style="font-size: 35px">Sign up</p>

            <form action="/auth/register" method="POST">
                <div class="form-group sign-up-form">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="username">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group sign-up-form">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
    <!-- <footer>
    <% include ../partials/footer %>
  </footer> -->
</body>

</html>