<style>
.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
</style>
<p class="text-center text-muted footer">© Copyright 2019 Smart Shooping App Project</p>
