<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fas fa-shopping-cart"></i>
         SmartShoppingApp
      </a>
      <ul class="nav navbar-nav">

        <li><a href="/categories/all/countdown">Countdown data</a></li>
        <li><a href="/categories/all/nwm">New World data</a></li>
        <li><a href="/options">Options</a></li>
        <li><a href="https://github.com/diegoevangelisti/countdown-scraping">Git hub repo</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        
      </ul>
    </div>
  </div>
</nav>