<meta charset="UTF-8" />
<title>Smart Shopping App</title>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
  crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quicksearch + Bootstrap</title>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

<style>
  @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

  body {
    padding-top: 50px;
    background-image: url("../img/loginBackground.jpeg");
    background-size: cover;
    opacity: 0.9;
    font-family: 'Dosis';
    color: black;
    font-size: 16px;
  }

  .margin-10 {
    margin: 10px;
  }

  #scrape-now,
  #delete-all {
    text-decoration: none;
    display: block;
    margin: auto;
  }

  #delete-all:hover {
    background-color: #e57350;
  }

  #scrape-now:hover {
    background-color: #30be5f;
  }

  .options-list {
    text-align: center;
    width: 20%;
    display: block;
    margin: auto;
  }

  .sign-up-form {
    text-align: center;
    width: 60%;
    display: block;
    margin: auto;
  }

  #register-title {
    margin-bottom: 30px;

  }
</style>