<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">
  <header>
    <% include ./partials/header %>
  </header>
  <main>
    <div class="jumbotron" style="text-align: center">
      <h3>Back office for Smart Shopping Application</h3>
      <p style="font-size: 18px">Categories and Products from Countdown</p>
      <p><i class="fas fa-laptop-code"></i></p>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="/categories">Categories</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="#">Settings</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="https://github.com/diegoevangelisti/countdown-scraping">Git hub repo</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="https://shop.countdown.co.nz/">Countdown</a></button>
    </div>
  </main>
  <!-- <footer>
    <% include ./partials/footer %>
  </footer> -->
</body>

</html>