<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>

<body class="container">
  <header>
    <% include ./partials/header %>
  </header>
  <main>
    <div class="jumbotron" style="text-align: center">
      <p><i class="fas fa-mug-hot"></i></p>
      <h3>Back office for Smart Shopping Application</h3>
      <p style="font-size: 18px; margin-bottom:40px;">Categories and Products from Countdown</p>

      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="/categories">Categories</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="/options">Options</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="https://github.com/diegoevangelisti/countdown-scraping">Git
          hub repo</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="https://shop.countdown.co.nz/">Countdown</a></button>
      <button type="button" class="btn btn-lg btn-secondary margin-10"><a href="/auth/logout">Logout</a></button>
    </div>
  </main>
</body>

</html>