<!DOCTYPE html >
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="jumbotron">
      <h3>Options</h3>
      <p>Scraping and delete categories and products</p>
    </div>
    <p style="text-align: center; font-size: 18px; margin-bottom: 20px;">WARNING: Don't press this button unless
      checking before. The scraping section is still under construction. Before scraping all data must be deleted</p>
    <ul class="list-group">
      <a href="/" id="scrape-in-countdown" class="list-group-item options-list" onclick="event.preventDefault(); document.getElementById('scraping-countdown').submit();window.open('/');">Get Countdown data</a>
      <a href="/" id="scrape-in-nwm" class="list-group-item options-list" onclick="event.preventDefault(); document.getElementById('scraping-nwm').submit();window.open('/');">Get NWM data</a>
      <a href="/" class="list-group-item list-group-item-action options-list" id="delete-countdown">
        Delete Countdown data
      </a>
      <a href="/" class="list-group-item list-group-item-action options-list" id="delete-nwm">
        Delete NWM data
      </a>
    </ul>
    <form id="scraping-countdown" action="/scrap/countdown" method="POST">
      <input type="hidden" name="scrape-countdown" value="" />
    </form>
    <form id="scraping-nwm" action="/scrap/nwm" method="POST">
      <input type="hidden" name="scrape-nwm" value="" />
    </form>

    <script>
      //DELETE COUNTDOWN DATA
      var del = document.getElementById('delete-countdown')
      del.addEventListener('click', function () {
        fetch('/options/countdown', {
            method: 'DELETE'
          })
          .then(function (response) {
            if (response.ok) {
              console.log('All categories and products deleted');
              return;
            }
            throw new Error('Request failed.');
          })
          .catch(function (error) {
            console.log(error);
          });
      });
      //DELETE NWM DATA
      var del_nwm = document.getElementById('delete-nwm')
      del_nwm.addEventListener('click', function () {
        fetch('/options/nwm', {
            method: 'DELETE'
          })
          .then(function (response) {
            if (response.ok) {
              console.log('All categories and products deleted');
              return;
            }
            throw new Error('Request failed.');
          })
          .catch(function (error) {
            console.log(error);
          });
      });
    </script>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>